<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pisces.nasca.dependency">
  <resultMap id="dependency" type="pisces.Dependency"> 
    <result property="dependencyTypeCreate" column="dpdtpc" />
    <result property="dependencyTypeRead" column="dpdtpr" />
    <result property="dependencyTypeUpdate" column="dpdtpu" />
    <result property="dependencyTypeDelete" column="dpdtpd" />
    <result property="remark" column="dpdrmk" />
    <association property="element" resultMap="pisces.nasca.element.element" />
    <association property="dependencyElement" resultMap="pisces.nasca.element.dpendencyelement" /> 
  </resultMap>
  <select id="selectByElementID" resultMap="dependency">
	select
		elm1.elmtid,
		elm1.elmtnm,
		elm1.elmttp,
		elm1.remark,
		etp1.svgfle,
		elm2.elmtid dpdelmtid,
		elm2.elmtnm dpdelmtnm,
		elm2.elmttp dpdelmttp,
		elm2.remark dpdremark,
		etp2.svgfle dpdsvgfle,
		dpd.dpdtpc,
		dpd.dpdtpr,
		dpd.dpdtpu,
		dpd.dpdtpd,
		dpd.remark dpdrmk
	from
		t_depndncy dpd
		inner join m_element elm1 on
			dpd.elmtid = elm1.elmtid
		inner join m_element elm2 on
			dpd.dpdeid = elm2.elmtid
		left outer join m_elmttype etp1 on
	    	elm1.elmttp = etp1.elmttp
		left outer join m_elmttype etp2 on
	    	elm2.elmttp = etp2.elmttp
	where
		dpd.elmtid = #{elementID}
  </select>
  <select id="selectByDependencyElementID" resultMap="dependency">
	select
		elm1.elmtid,
		elm1.elmtnm,
		elm1.elmttp,
		elm1.remark,
		etp1.svgfle,
		elm2.elmtid dpdelmtid,
		elm2.elmtnm dpdelmtnm,
		elm2.elmttp dpdelmttp,
		elm2.remark dpdremark,
		etp2.svgfle dpdsvgfle,
		dpd.dpdtpc,
		dpd.dpdtpr,
		dpd.dpdtpu,
		dpd.dpdtpd,
		dpd.remark dpdrmk
	from
		t_depndncy dpd
		inner join m_element elm1 on
			dpd.elmtid = elm1.elmtid
		inner join m_element elm2 on
			dpd.dpdeid = elm2.elmtid
		left outer join m_elmttype etp1 on
	    	elm1.elmttp = etp1.elmttp
		left outer join m_elmttype etp2 on
	    	elm2.elmttp = etp2.elmttp
	where
		dpd.dpdeid = #{elementID}
  </select>
  <insert id="insert">
    insert into t_depndncy (
		elmtid,
		dpdeid,
		dpdtpc,
		dpdtpr,
		dpdtpu,
		dpdtpd,
		remark
    ) values (
		#{elmtid},
		#{dpdeid},
		#{dpdtpc},
		#{dpdtpr},
		#{dpdtpu},
		#{dpdtpd},
		#{remark}
    )
  </insert>
  <update id="update">
    update t_depndncy
    set
    	elmtid = #{elmtid},
    	dpdeid = #{dpdeid},
		dpdtpc = #{dpdtpc},
		dpdtpr = #{dpdtpr},
		dpdtpu = #{dpdtpu},
		dpdtpd = #{dpdtpd},
		remark = #{remark}
    where
		elmtid = #{originalelmtid} and
		dpdeid = #{originaldpdeid}
  </update>
  <delete id="delete">
    delete from t_depndncy
    where
		elmtid = #{elmtid} and
		dpdeid = #{dpdeid}
  </delete>
</mapper>