@CHARSET "UTF-8";

* {
	margin:0;
	padding:0;
}

html, body {
	height:100%;
	width:100%;
	overflow-x:hidden;
	overflow-y:hidden;
}

#nodeList{
	width:200px;
	height:100%;
	float:left;
	background-color:#f0f8ff;
	overflow-x:auto;
	overflow-y:auto;
}

#drawingPaper{
/* 	margin-left:150px; */
	height:100%;
	background-color:white;
}



#contents {
  z-index: 0;
  font-size: 16px;
}
.page-txt {
  margin: 30px 0 0;
  height: 2000px;
}
#modal-open {
  color: #cc0000;
}
/* モーダル コンテンツエリア */
#modal-main {
display: none;
width: 500px;
height: 300px;
margin: 0;
padding: 0;
background-color: #ffffff;
color: #666666;
position:fixed;
z-index: 2;
}
/* モーダル 背景エリア */
#modal-bg {
display:none;
width:100%;
height:100%;
background-color: rgba(0,0,0,0.5);
position:fixed;
top:0;
left:0;
z-index: 1;
}

/*jstreeのrootノード*/
#jstree_demo_div{
	position:relative;
	left: -24px;
}
#root_anchor>i.jstree-checkbox{
	display:none;
}